.container {
  display: flex;
  flex-direction: row;

  background-color: var(--white-color);
  border-radius: 0.5rem;

  padding: 1rem;
}

.original {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--dark-violet-color);
}

.shortened {
  margin-left: auto;
  margin-right: 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  color: var(--cyan-color);
}

.button {
  padding: 1rem 2rem;
  background-color: var(--cyan-color);
  border: none;
  border-radius: 0.5rem;
  color: var(--white-color);
  cursor: pointer;
}

.button:active,
.button:hover {
  background-color: var(--cyan-tint-color);
}

.buttonCopied {
  background-color: var(--dark-violet-color);
  cursor: default;
}

.button:disabled {
  background-color: var(--dark-violet-color);
}
