.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  background-color: var(--white-color);
  border-radius: 0.5rem;

  padding: 1rem;
}

.original {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--dark-violet-color);
  font-size: 1rem;
}

.divider {
  align-self: stretch;
  border-top: solid 1px var(--dark-violet-color);
  margin-left: -1rem;
  margin-right: -1rem;
}

.shortened {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--cyan-color);
  font-size: 1rem;
}

.button {
  align-self: stretch;
  padding: 1rem 2rem;
  background-color: var(--cyan-color);
  border: none;
  border-radius: 0.5rem;
  color: var(--white-color);
  cursor: pointer;
}

.button:active,
.button:hover {
  background-color: var(--cyan-tint-color);
}

.buttonCopied {
  background-color: var(--dark-violet-color);
  cursor: default;
}

.button:disabled {
  background-color: var(--dark-violet-color);
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: center;
  }

  .shortened {
    margin-left: auto;
  }
}
