.container {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  padding: 0.5rem 1rem 0.5rem 1rem;
}

.logo {
  height: auto;
  width: auto;

  color: var(--very-dark-violet-color);

  text-align: center;
}

.nav {
  flex-grow: 1;
}

.openNav {
  height: 2rem;
  width: auto;
  color: var(--very-dark-violet-color);
}

.openNavIsOpen {
  color: var(--gray-color);
}

.openNav:hover,
.openNav:active {
  cursor: pointer;
}

@media (min-width: 768px) {
  .container {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .openNav {
    display: none;
  }
}
