.container {
  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr;

  justify-items: center;
  align-content: center;

  border: solid 1px red;
}

.illustrationWorking {
  width: 100%;
  height: auto;

  grid-row: 1;
}

.heading {
  grid-row: 2;
}

.text {
  grid-row: 3;
}

.button {
  grid-row: 4;
}
