.container {
  display: grid;
  grid-template-rows: auto auto auto auto;

  justify-items: center;
  align-content: center;
}

.illustrationWorking {
  width: 100%;
  height: auto;

  grid-row: 1;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  grid-row: 2;
  color: var(--very-dark-violet-color);
  margin: 1rem;
}

.text {
  grid-row: 3;
  font-size: 1.6rem;
  color: var(--grayish-v iolet-color);
  margin: 1rem 2rem;
}

.button {
  grid-row: 4;
  margin: 1rem 2rem;
}
