.nav {
  display: none;
}

.nav.navOpen {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: var(--dark-violet-color);
  border-radius: 0.5rem;
}

.a {
  font-size: 1rem;
  font-weight: 700;
  color: var(--white-color);
  text-decoration: none;

  margin-bottom: 2rem;
}

.a:hover,
.a:active {
  color: var(--cyan-tint-color);
}

.separator {
  width: 100%;
  border-bottom: 1px solid var(--grayish-violet-color);
  margin-bottom: 2rem;
}

.loginButton {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white-color);
  margin-bottom: 2rem;
}

.loginButton:hover,
.loginButton:active {
  cursor: pointer;
  color: var(--cyan-tint-color);
}

.signupButton {
  width: 16rem;
  margin-bottom: 2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--gray-transparent-color);
  z-index: 1;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  .a {
    color: var(--grayish-violet-color);
    margin-bottom: 0;
  }
  .separator {
    display: none;
  }
  .loginButton {
    color: var(--grayish-violet-color);
    margin-bottom: 0;
  }
  .signupButton {
    width: auto;
    margin-bottom: 0;
  }
}
