.container {
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;

  background-color: var(--dark-violet-color);

  border-radius: 0.5rem;
}

.a {
  font-size: 1rem;
  font-weight: 700;
  color: var(--white-color);
  text-decoration: none;

  margin-bottom: 2rem;
}

.separator {
  width: 100%;
  border-bottom: 1px solid var(--grayish-violet-color);
  margin-bottom: 2rem;
}

.loginButton {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white-color);
  margin-bottom: 2rem;
}

.signupButton {
  width: 16rem;
  margin-bottom: 2rem;
}
