.container {
  width: 100%;
  padding: 0 1rem 0 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background-color: var(--white-color);
  border-radius: 1rem;

  border: solid 1px red;
}

.imageContainer {
  width: 4rem;
  height: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  transform: translate(0, -50%);

  background-color: var(--dark-violet-color);

  border: solid 1px red;
}

.heading {
  margin-top: -1rem;

  font-size: 1.2rem;
  color: var(--very-dark-blue-color);
}

.text {
  margin-bottom: -2rem;
  font-size: 1rem;
  color: var(--grayish-violet-color);
}

.textLast {
  margin-bottom: 2rem;
}

.joiner {
  display: block;
  border-left: 3px solid var(--cyan-color);
  border-right: 3px solid var(--cyan-color);
  height: 4rem;
  transform: translate(0, 100%);
}

.joinerLast {
  display: none;
}
