.listItem {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  padding: 0 1rem 0 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background-color: var(--white-color);
  border-radius: 1rem;
}

.imageContainer {
  width: 4rem;
  height: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  transform: translate(0, -50%);

  background-color: var(--dark-violet-color);
}

.heading {
  margin-top: -3rem;
  font-size: 1.2rem;
  color: var(--very-dark-blue-color);
}

.text {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: var(--grayish-violet-color);
}

@media (min-width: 768px) {
  .imageContainer {
    transform: translate(-125%, -50%);
  }

  .heading {
    align-self: flex-start;
  }

  .joiner {
    display: block;
    border-top: 3px solid var(--cyan-color);
    border-bottom: 3px solid var(--cyan-color);
    width: 4rem;
    align-self: center;
  }
}

.joinerLast {
  display: none;
}
