.container {
  width: 100%;

  /* margin-top: 4rem;
  margin-bottom: 4rem; */

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);

  border: solid 1px red;
}

.imageContainer {
  width: 4rem;
  height: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  transform: translate(0, -50%);

  background-color: var(--dark-violet-color);

  border: solid 1px red;
}

.img {
}
