.list {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  color: var(--white-color);
}
.icon:hover,
.icon:active {
  color: var(--cyan-tint-color);
}

@media (min-width: 768px) {
  .list {
    width: auto;
    gap: 1rem;
  }
}
