.container {
  width: 100%;
  background-color: var(--very-dark-violet-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;

  background-color: transparent;

  display: flex;
  flex-direction: column;
}

.logo {
  margin-bottom: 2rem;
  color: var(--white-color);
}

@media (min-width: 768px) {
  .container {
    align-items: stretch;
  }
  .contentContainer {
    margin-left: 4rem;
    margin-right: 4rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
