@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

:root {
  --cyan-color: #2acfcf;
  --cyan-tint-color: #6adddd;
  --dark-violet-color: hsl(257, 27%, 26%);
  --red-color: hsl(0, 87%, 67%);
  --gray-color: hsl(0, 0%, 75%);
  --light-gray-color: hsl(0, 0%, 85%);
  --grayish-violet-color: hsl(257, 7%, 63%);
  --very-dark-blue-color: hsl(255, 11%, 22%);
  --very-dark-violet-color: hsl(260, 8%, 14%);
  --white-color: white;
}

body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

/* global reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* debug */
div,
form {
  /* border: solid 1px red; */
}
